article {
  border: 1px solid lightblue;
  margin: 5px;
  width: 30%;
  display: inline-block;
}

.cardTitle {
  border: 1px dotted lightgrey;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 0;
  padding: 10px 0;
}

h4 {
  color: yellow;
  background-color: grey;
  text-indent: 20px;
}

li {
  list-style: none;
  margin-left: 20px;
  font-weight: bold;
}

header {
  font-weight: bold;
  font-size: 20px;
}

p {
  padding: 0 15px;
}



